<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Technical test') %></h1>
  </div>
  <div>
      <div>
        //insert form here
          get questions through AJAX
      </div>
  </div>
</div>
